/* 基础颜色 */
$coolgrey-1: #F7F8FA;
$coolgrey-2: #F2F3F5;
$coolgrey-3: #E5E6EB;
$coolgrey-4: #C9CBD4;
$coolgrey-5: #A9ACB8;
$coolgrey-6: #868A9C;
$coolgrey-7: #6B7085;
$coolgrey-8: #4E5369;
$coolgrey-9: #272B3B;
$coolgrey-10: #1D1F29;

$neutralgrey-1: #FAFAFA;
$neutralgrey-2: #F5F5F5;
$neutralgrey-3: #EBEBEB;
$neutralgrey-4: #D4D4D4;
$neutralgrey-5: #B8B8B8;
$neutralgrey-6: #9C9C9C;
$neutralgrey-7: #858585;
$neutralgrey-8: #696969;
$neutralgrey-9: #3D3D3D;
$neutralgrey-10: #292929;

$warmgrey-1: #FAF8F7;
$warmgrey-2: #F5F3F2;
$warmgrey-3: #EBE7E5;
$warmgrey-4: #D4CECC;
$warmgrey-5: #B8B0AD;
$warmgrey-6: #9C918C;
$warmgrey-7: #857A75;
$warmgrey-8: #695E5A;
$warmgrey-9: #3B332F;
$warmgrey-10: #292321;

$base-black: #000000;
$base-white: #FFFFFF;

$opacblack-1_02: #00000005;
$opacblack-2_04: #0000000A;
$opacblack-3_08: #00000014;
$opacblack-4_15: #00000026;
$opacblack-5_20: #00000033;
$opacblack-6_30: #0000004D;
$opacblack-7_45: #00000073;
$opacblack-7_55: #0000008C;
$opacblack-8_65: #000000A6;
$opacblack-9_75: #000000BF;
$opacblack-10_85: #000000D9;

$opacwhite-1_02: #FFFFFF05;
$opacwhite-2_04: #FFFFFF0A;
$opacwhite-3_08: #FFFFFF14;
$opacwhite-4_15: #FFFFFF26;
$opacwhite-5_20: #FFFFFF33;
$opacwhite-6_30: #FFFFFF4D;
$opacwhite-7_45: #FFFFFF73;
$opacwhite-7_55: #FFFFFF8C;
$opacwhite-8_65: #FFFFFFA6;
$opacwhite-9_75: #FFFFFFBF;
$opacwhite-10_85: #FFFFFFD9;

$pink-1: #FFF0F6;
$pink-2: #FFDEEB;
$pink-3: #FCC2D7;
$pink-4: #FAA2C1;
$pink-5: #F783AC;
$pink-6: #FF357C;
$pink-7: #FF0A60;
$pink-8: #E0004F;
$pink-9: #B80040;
$pink-10: #8F0032;
$pink-opac: #FF357C14;

$red-1: #FFF5F5;
$red-2: #FFE3E3;
$red-3: #FFC9C9;
$red-4: #FFA8A8;
$red-5: #FB7C7C;
$red-6: #F14646;
$red-7: #DC2C2C;
$red-8: #BC2626;
$red-9: #A01515;
$red-10: #790909;
$red-opac: #F1464614;

$blue-1: #F5F8FF;
$blue-2: #E5EDFF;
$blue-3: #B8CFFF;
$blue-4: #7CA4FF;
$blue-5: #4480FF;
$blue-6: #1C64FD;
$blue-7: #164ED1;
$blue-8: #1341AD;
$blue-9: #0F3285;
$blue-10: #0A235C;
$blue-opac: #1C64FD14;

$lightblue-1: #E8FBFF;
$lightblue-2: #BFF2FF;
$lightblue-3: #96E7FF;
$lightblue-4: #6ED8FF;
$lightblue-5: #45C7FF;
$lightblue-6: #1CB2FD;
$lightblue-7: #0D8CD6;
$lightblue-8: #026AB0;
$lightblue-9: #004E8A;
$lightblue-10: #003563;
$lightblue-opac: #1CB2FD14;

$volcano-1: #FFF2E8;
$volcano-2: #FFDABF;
$volcano-3: #FFBF96;
$volcano-4: #FFA16E;
$volcano-5: #FF8045;
$volcano-6: #FD5C1C;
$volcano-7: #D63F0D;
$volcano-8: #B02802;
$volcano-9: #8A1900;
$volcano-10: #630F00;
$volcano-opac: #FD5C1C14;

$orange-1: #FFF6EB;
$orange-2: #FFE8CC;
$orange-3: #FFD8A8;
$orange-4: #FFC078;
$orange-5: #FFA94D;
$orange-6: #F57F00;
$orange-7: #D05706;
$orange-8: #A94605;
$orange-9: #813604;
$orange-10: #592503;
$orange-opac: #F57F0014;

$yellow-1: #FFFAF1;
$yellow-2: #FDE5B4;
$yellow-3: #FDD78C;
$yellow-4: #FCC964;
$yellow-5: #FBBB3C;
$yellow-6: #FAAD14;
$yellow-7: #E19705;
$yellow-8: #B97C04;
$yellow-9: #916103;
$yellow-10: #694702;
$yellow-opac: #FAAD1414;

$green-1: #F3FBF9;
$green-2: #E7F8F3;
$green-3: #B8EADD;
$green-4: #88DBC3;
$green-5: #59CDAA;
$green-6: #12B886;
$green-7: #0F956C;
$green-8: #0B6F51;
$green-9: #074A36;
$green-10: #04251B;
$green-opac: #12B88614;

$cyan-1: #F4FBFD;
$cyan-2: #E9F8FA;
$cyan-3: #BDEAF1;
$cyan-4: #90DBE7;
$cyan-5: #64CDDD;
$cyan-6: #22B8CF;
$cyan-7: #1C98AB;
$cyan-8: #167988;
$cyan-9: #115A65;
$cyan-10: #0B3A42;
$cyan-opac: #22B8CF14;

$purple-1: #F9F8FF;
$purple-2: #E5DBFF;
$purple-3: #D0BFFF;
$purple-4: #B197FC;
$purple-5: #9775FA;
$purple-6: #8059F3;
$purple-7: #5B29EF;
$purple-8: #4511DF;
$purple-9: #390EB9;
$purple-10: #2D0B93;
$purple-opac: #8059F314;

$grape-1: #FBF6FD;
$grape-2: #F3D9FA;
$grape-3: #EEBEFA;
$grape-4: #E599F7;
$grape-5: #DA77F2;
$grape-6: #AE3EC9;
$grape-7: #9731AF;
$grape-8: #7B288F;
$grape-9: #601F70;
$grape-10: #451650;
$grape-opac: #AE3EC914;
