:root,
page,
.wd-root-portal {
  --ep-spacing-zero: var(--ep-n-0);
  --ep-padding-zero: var(--ep-n-0);
  --ep-padding-ultra-tight: var(--ep-n-2);
  --ep-padding-super-tight: var(--ep-n-4);
  --ep-padding-extra-tight: var(--ep-n-6);
  --ep-padding-tight: var(--ep-n-8);
  --ep-padding-main: var(--ep-n-10);
  --ep-padding-loose: var(--ep-n-12);
  --ep-padding-extra-loose: var(--ep-n-16);
  --ep-padding-super-loose: var(--ep-n-20);
  --ep-padding-ultra-loose: var(--ep-n-24);
  --ep-padding-spacious: var(--ep-n-28);
  --ep-padding-extra-spacious: var(--ep-n-32);
  --ep-padding-super-spacious: var(--ep-n-40);
  --ep-padding-ultra-spacious: var(--ep-n-48);
  --ep-spacing-ultra-tight: var(--ep-n-2);
  --ep-spacing-super-tight: var(--ep-n-4);
  --ep-spacing-extra-tight: var(--ep-n-6);
  --ep-spacing-tight: var(--ep-n-8);
  --ep-spacing-main: var(--ep-n-10);
  --ep-spacing-loose: var(--ep-n-12);
  --ep-spacing-extra-loose: var(--ep-n-16);
  --ep-spacing-super-loose: var(--ep-n-20);
  --ep-spacing-ultra-loose: var(--ep-n-24);
  --ep-spacing-spacious: var(--ep-n-28);
  --ep-spacing-extra-spacious: var(--ep-n-32);
  --ep-spacing-super-spacious: var(--ep-n-40);
  --ep-spacing-ultra-spacious: var(--ep-n-48);
}