/* 间距数字尺度 */
$number-n0: 0px;
$number-n05: 0.5px;
$number-n1: 1px;
$number-n2: 2px;
$number-n3: 3px;
$number-n4: 4px;
$number-n6: 6px;
$number-n8: 8px;
$number-n10: 10px;
$number-n12: 12px;
$number-n14: 14px;
$number-n16: 16px;
$number-n20: 20px;
$number-n24: 24px;
$number-n28: 28px;
$number-n32: 32px;
$number-n36: 36px;
$number-n40: 40px;
$number-n48: 48px;
$number-n56: 56px;
$number-n60: 60px;
$number-n375: 375px;
$number-nFull: 9999px;
