/* 间距数字 */
$number-n0: 0px;
$number-n05: 0.5px;
$number-n1: 1px;
$number-n2: 2px;
$number-n3: 3px;
$number-n4: 4px;
$number-n6: 6px;
$number-n8: 8px;
$number-n10: 10px;
$number-n12: 12px;
$number-n14: 14px;
$number-n16: 16px;
$number-n20: 20px;
$number-n24: 24px;
$number-n28: 28px;
$number-n32: 32px;
$number-n36: 36px;
$number-n40: 40px;
$number-n48: 48px;
$number-n56: 56px;
$number-n60: 60px;
$number-n375: 375px;
$number-nFull: 9999px;

/* 字体相关数字 */
$typography-primitives-number: DIN Alternate;
$typography-primitives-chinese: PingFang SC;
$typography-primitives-english: Helvetica Neue;
$typography-primitives-small-scale-00: 8px;
$typography-primitives-scale-00: 10px;
$typography-primitives-scale-01: 12px;
$typography-primitives-scale-02: 14px;
$typography-primitives-scale-03: 16px;
$typography-primitives-scale-04: 20px;
$typography-primitives-scale-05: 24px;
$typography-primitives-scale-06: 28px;
$typography-primitives-scale-07: 32px;
$typography-primitives-scale-08: 40px;
$typography-primitives-scale-09: 48px;
$typography-primitives-scale-10: 56px;
$typography-primitives-line-height-small-scale-00: 12px;
$typography-primitives-line-height-scale-00: 16px;
$typography-primitives-line-height-scale-01: 18px;
$typography-primitives-line-height-scale-02: 22px;
$typography-primitives-line-height-scale-03: 24px;
$typography-primitives-line-height-scale-04: 30px;
$typography-primitives-line-height-scale-05: 36px;
$typography-primitives-line-height-scale-06: 42px;
$typography-primitives-line-height-scale-07: 48px;
$typography-primitives-line-height-scale-08: 60px;
$typography-primitives-line-height-scale-09: 72px;
$typography-primitives-line-height-scale-10: 84px;
$typography-primitives-weight-ultra-light: 100px;
$typography-primitives-weight-ultra-light: 100;
$typography-primitives-weight-thin: 200;
$typography-primitives-weight-light: 300;
$typography-primitives-weight-regular: 400;
$typography-primitives-weight-medium: 500;
$typography-primitives-weight-semibold: 700;
$typography-primitives-weight-ultra-light-Italic: 100;
$typography-primitives-weight-thin-Italic: 200;
$typography-primitives-weight-light-Italic: 300;
$typography-primitives-weight-Italic: 400;
$typography-primitives-weight-medium-Italic: 500;
$typography-primitives-weight-semibold-Italic: 700;

/* 阴影 */
$opacity-zero: 0;
$opacity-disabled: 0.4;
$opacity-dimmer: 0.6;
$opacity-oveylay: 0.75;
$opacity-main: 1.0;
$opacity-backdrop: 0.3;
